<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
    <h1>Login:</h1>
    <hr/>
    <h3>Username:</h3>
    <input type='text' name='username'></input>
    <h3>Password</h3>
    <input type='password' name='password'></input>
    <hr/>
    <input type='submit' name='submit' value='login to virt'></input>
    </form>
  </body>
</html>
