<!DOCTYPE html>
<html>
  <head>
    <title>Virt management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <hr/>
    <a href='/'>Back to index</a>
  </body>
</html>
